/* Sidebar */
@font-face {
  font-family: "Matura Script";
  src: url("/fonts/Matura_Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sidebar {
  width: 200px;
  background-image: url('/images/index_background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 20px 10px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  align-items: center;
  justify-items: center;
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  font-size: 20px;
  flex-shrink: 0;
}
  .logo-image{
    width: 130%;
  }

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

  .logo-subtitle {
    font-family: "Matura Script";
    font-size: 9px;
    color: rgb(255, 255, 255);
  }

  .logo-title {
    font-family: "Alexandria", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: white;
  }

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
  font-size: 14px;
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
  margin: 5px 0px;
}

.nav-item:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

}

.nav-item.active {
  color: #ffc107;
  border-left-color: #ffc107;
  background-color: rgba(255, 193, 7, 0.1);
  font-weight: 700;
  border-radius: 10px;

}

.nav-item .icon {
  font-size: 18px;
  width: 24px;
  text-align: center;
}